{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div align='center'>
<div align='justify' style="width:400px; align">
Read any feed you want, from the start, at your pace.<br/><br/>

Have you ever found a blog with great articles that you'd love to read from the beginning? Maybe a webcomic or any other content with a feed?<br/><br/>

Give feedpacer the (RSS or Atom) feed URI you want, and tell it how often you want to read new items from this feed. It will create a new, personalized feed for you. Subscribe with your feed reader, and the items will appear at the pace you set.<br/><br/>

<a href="{{login_url}}">Sign in or register</a>
</div>
</div>
{% endblock %}


